@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@100..900&display=swap');



/* styles/globals.css */
body {
  font-family: 'Noto Sans Lao', 'Noto Sans Thai', 'Noto Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.blackdrop {
    position: fixed; /* ทำให้มันคงที่ในหน้าจอ */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* สีดำที่มีความโปร่งใส 70% */
    display: flex;
    justify-content: center;
    align-items: center; /* จัดตำแหน่งเนื้อหาให้อยู่กลาง */
    z-index: 9999; /* ให้มันแสดงเหนือส่วนอื่นๆ */
  }
  
  a{
    color:rgb(0, 170, 255);
    padding: 5px;

    &:hover{
      text-decoration: underline;
    }
  }